/* ==========
G L O B A L
============*/

:root {
    --body-font: "Roboto", sans-serif;
    --main: #ebd578;
    --mono-light: rgb(255, 242, 191);
    --mono-dark: #9E8D41;
    --complement-light: #787BEB;
    --complement-dark: #31349E;
    --bg: #fdeeb1;
    --light: white;
    --dark: black;
    --light-grey: #cfcfcf;
    --dark-grey: #3d3d3d;

    --max-width: 35rem;

    --def-transition: .3s all;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--mono-light);
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: var(--body-font);
    display: grid;
    grid-template-areas: 
		"header"
		"mainnav"
		"content"
		"footer";	
}

/* ================
N A V I G A T I O N 
=================*/

a {
    text-decoration: none;
    color: var(--dark);
}

nav {
    display: flex;
    flex-flow: column;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

ul { 
    display: flex;
    flex-flow: column;
    background-color: var(--light);
    list-style: none;
    margin: 0;
    padding: 0;
}

body > nav ul li a:focus {
    outline: none;
}

body > nav li a {
    padding: 0.5em;
    display: inline-block;
    color: var(--dark);
    text-decoration: none;
    font-size: 0.7em;
}

body > nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width .3s;
}

body > nav li a:focus::after,
body > nav li a:hover::after {
    width: 100%;
}


body > nav li a:focus,
body > nav li a:hover {
    color: var(--complement-dark);
    transform: scale(1.3);
    letter-spacing: 8px;
}


a[href="#main"],
a[href="#chat"] {
    display: none;
}

nav > ul {
    display: none;
    padding: 2em;
    box-shadow: 0 5px 5px -5px #333;
    text-align: center;
    font-size: 1.1em;
}

nav a[href="#body"],
nav a[href="#menu"] {
    align-self: flex-end;
    margin: 5px;
    align-self: flex-end;
    padding: 5px;
    text-transform: uppercase;
    border: 1px solid black;
}

nav a[href="#body"]:hover,
nav a[href="#body"]:focus,
nav a[href="#menu"]:hover,
nav a[href="#menu"]:focus  {
    background-color: var(--main)
}

nav a[href="#body"] {
    display: none;
}

nav:target > ul {
    display: block
}

nav:target > a[href="#menu"] {
    display: none;
} 

nav:target > a[href="#body"] {
    display: block;
}

@media (min-width: 38em) {

    body > nav li a:focus,
    body > nav li a:hover {
        letter-spacing: 0;
    }

    body > nav li a::before {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: currentColor;
        transition: width .3s;
    }
    
    body > nav li a:focus::before,
    body > nav li a:hover::before {
        width: 100%;
    }

    nav:target ul {
        display: flex;
        
    }

    nav > ul {
        display: flex;
        padding: 0;
        font-size: 1rem;
    }

    nav:target > a[href="#body"],
    nav > a[href="#menu"] {
        display: none;
    }

    nav > ul li:nth-child(2) {
        margin-right: auto;
    }
    
    a[href="#main"],
    a[href="#body"],
    a[href="#chat"] {
        position: relative;
        display: inline-block;
        overflow: hidden;
        z-index:-10;
    }
    
    a[href="#main"]:focus,
    a[href="#main"]:active,
    a[href="#body"]:focus,
    a[href="#body"]:active,
    a[href="#chat"]:focus,
    a[href="#chat"]:active  {
        width: auto;
        height: auto;
        overflow: visible;
        z-index: 10;
    }

    ul { 
        justify-content: flex-end;
        box-shadow: 0 5px 5px -5px #333;
        flex-flow: row;
    }

    ul ul {
        flex-flow: column;
        position: absolute;
        box-shadow: 0px 3px 5px -1px #333;
        top: 52px;
        text-align: center;
        margin-left: -13px;
    }

    ul li {
        padding: 0.5em;
    }

    body > nav ul li li {
        padding: 0;
        margin-right: 0;
        margin-top: 0.5em;
    }
    
    body > nav ul li ul li a {
        display: none;
        visibility: hidden;
    }
    
    body > nav ul li:focus-within ul li a,
    body > nav ul li:hover ul li a {
        display: inline-block;
        visibility: visible;
        position: relative;
    }
}

/* ======
L O G I N
=======*/

body > article {
    transition: 0.3s;
    display: none;
    z-index: 12;
    position: fixed;
    top: 20%;
    left: 50%;
}

body > article:target {
    display: block;
}

body > article > form {
    position: relative;
    display: flex;
    flex-flow: column;
	padding: 3em 5em;
	border-radius: 1px;
    left: -50%;
    z-index: 12;
    background: white;
    box-shadow: 0px 3px 22px -2px rgba(0,0,0,0.75);
}


body > article:target ~ main,
body > article:target ~ nav,
body > article:target ~ header {
    transition: 0.3s;
    -webkit-filter: blur(3px);
	filter: blur(3px);
}

body > article > a[href="#body"] {
    content: "\292B";
    overflow: visible;
    position: relative;
    left: -50%;
    top: 0;
    display: block;
    z-index: 13;
}

form div {
    position: relative;
    margin: calc(1em * 1.5) 0;
}

form div i {
    visibility: hidden;
    position: relative;
    border-bottom: 1px solid currentColor;
    display: block;
    font-size: 0.5em;
}

form div i::before {
    visibility: visible;
    content: '';
    height: 2px;
    width: 0;
    left: 50%;
    bottom: 1px;
    background-color: var(--main);
    position: absolute;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 2;
}

form input[type="email"],
form input[type="password"] {
    border-width: 0;
    line-height: 1.8;
    width: 100%;
    font-size: 1em;
    color: black;
    opacity: 1;
    transition: all 0.3s ease;
    box-shadow: none;
    background-color: var(--light-grey);
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    outline: none;
}

form input[type="email"]:focus + label,
form input[type="email"]:valid + label,
form input[type="email"]:invalid + label,
form input[type="password"]:focus + label,
form input[type="password"]:valid + label {
    font-size: 1em;
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    color: black;
    padding: 7px 0 0 0;
    left: 0;
    opacity: 1;
}

form input[type="email"]:invalid + label,
form input[type="password"]:invalid + label {
    color: var(--complement-dark);
    opacity: 1;
}

form input[type="email"]:invalid ~ i::before,
form input[type="password"]:invalid ~ i::before {
    background-color: var(--complement-dark);
}

form input[type="email"]:valid ~ i::before,
form input[type="password"]:valid ~ i::before {
    background-color: var(--main);
}


form input[type="email"]:hover,
form input[type="password"]:hover,
form input[type="email"]:focus,
form input[type="password"]:focus {
    background-color: var(--light);
    border-bottom: 1px solid var(--complement-dark);
}


form input:focus ~ i::before {
    width: 100%;
    left: 0;
}

body > article label[for="field-email"],
body > article label[for="field-password"] {
    position: absolute;
    top: 0;
    padding: 0 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

article button,
a[href="#body"] {
    position: relative;
  
    display: block;
    margin: 30px auto;
    padding: 1em;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: var(--complement-dark);
    color: white;
    
    transition: background-color .3s;
  }
  
article button:hover, 
article button:focus,
a[href="#body"]:hover,
a[href="#body"]:focus {
    background-color: var(--complement-light);
}

input[type="checkbox"] {
    position: absolute;
	clip: rect(0,0,0,0);
}



input[type="checkbox"] + label::before {
    content: "\a0";
    color: white;
	display: inline-block;
	vertical-align: .2em;
	width: .8em;
	height: .8em;
	margin-right: .2em;
	border-radius: .2em;
	background: silver;
	text-indent: .15em;
	line-height: .65;
}

input[type="checkbox"]:checked + label::before {
	content: "\002713";
	background: var(--main);
}

input[type="checkbox"]:focus + label::before {
	box-shadow: 0 0 .1em .1em #58a;
}

article:first-of-type [href="#"] {
    right: 40%;
    color: black;
}

article:first-of-type [href="#"]:hover,
article:first-of-type [href="#"]:focus {
    color: var(--complement-light);
    outline: none;
}


 /* =============================
 S E C T I O N S  H O M E P A G E
================================*/

 section article {
     background-color: var(--light);
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0s cubic-bezier(.25,.8,.25,1);
     width: 100%;
     margin-top: 2em;
 }

 /* section:nth-of-type(2) article:after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 50px solid #fff;
 } */
 

@font-face {
    font-family: Ampersand;
    /* src: url("/fonts/Braxton.otf") format("opentype"); */
	src: local('Braxton'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
    unicode-range: U+26;
}


main {
    display: grid;
    margin: 1em;
    margin-top: -6em;
    z-index: 1;
}

section>h1 {
    width: 100%;
    text-align: center;
}

article h1 {
    font-size: 1.2em;
    text-align: center;
}

main > article {
    background-color: #FFF;
    padding: 2em;
}

main > article:focus-within {
    background-color: var(--main);
    padding: 2em;
}

section article p {
    padding: 1em;
}

img ~ p:first-letter {
    font-size:1.3em;
}


section article img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

section article:focus-within,
section article:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

section article a {
    color: var(--dark);
}

section article a:focus {
    outline: none;
    color: black;
}

section:first-of-type {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

section article:focus-within {
    box-shadow: 0px 3px 22px -2px rgba(0,0,0,0.75);
}

section img {
    width: 100%;
}

section:last-of-type {
    position: fixed;
    display: flex;
    flex-flow: column;
    background-color: var(--light);
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

section:last-of-type>h1 {
    height: auto;
    width: auto;
    overflow: visible;
}

/* =========
H E A D E R
==========*/


header h1 {
    font-family: Ampersand, "Oswald",Helvetica, sans-serif;
    position: absolute;
}

header figure {
    margin: 0;
}

header figure video {
    width: 100%;
}



 /* =====
A S I D E
========*/

aside {
    background: var(--main);
    margin: 2em;
    background: 
    repeating-linear-gradient(45deg, white, #F2F9FF 10%, white 10%, #dedede 50%, white 50%);
    background-size: 10px 10px;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    display: flex;
}

aside nav {
    background-color: transparent;
}

progress {
    width: 100%;
    height: 0.5em;
    margin-top: 5%;
    margin-bottom: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    height: 0.5em;
}

  progress::-webkit-progress-bar {
    background-color: #f0f0f0;
      border-radius: 2em;
      box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.25) inset;
  }
  
  progress::-webkit-progress-value {
      background-color: var(--main);
      border-radius: 2em;
  }
  
  ol {
      list-style: none;
      margin-bottom: 5%;
  
  }
  
  progress + ol {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
  
  progress + ol li {
      flex-basis: 25%;
    position: relative;
      color: black;
  }

  
  progress + ol li:first-of-type a {
      color: var(--dark-grey);
  }

  progress + ol li a:hover,
  progress + ol li a:focus {
    transform: scale(2);
    transition: .3s all;
    outline: none;
    color: var(--complement-dark);
}
  
  progress + ol li a{
      color: black;
  }
  
  progress + ol li:before {
      position: absolute;
    z-index: 1;
    font-family: Fontawesome;
    font-size: 0.8em;
    content: "\f185";
    color: black;
      bottom: 5.8em;
      left: 0.75em;
  }
  
  progress + ol li:after {
    content: '';
      position: absolute;
      bottom: 4.1em;
      left: 0%;
    width: 2em;
    height: 2em;
    background: white;
    border-radius: 100%;
  }
  
  progress + ol li:first-of-type::after {
    background: var(--main);
  }

 /* =======
L O A D E R
==========*/

form div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

form div > div {
	margin-top: 2em;
    color: var(--complement-dark);
}

form div div a {
    color: black;
}

form > div > div::before {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    display: block;
    content: '';
    background: currentColor;
    margin-top: 2em;
    left: 22%;
    box-shadow: 1.25rem 0 0, 1.25rem 1.25rem 0, 0 1.25rem 0;
    transform-origin: 1rem 1rem;
    animation: move 1s infinite ease-in-out;
}

form div[role="text"]::before {
    animation: spinning 1s infinite ease-in-out;
}

@keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
        box-shadow: 1.25rem 0 0, 1.25rem 1.25rem 0, 0 1.25rem 0;
    }

    100% {
		transform: translateX(0.5rem + 0.75rem);
		box-shadow: 0 1.25rem 0, -1.25rem 1.25rem 0, -1.25rem 0 0;
	}
}

/* A R T I C L E S */
section article:nth-of-type(even):target {
    visibility: visible;
    padding: 0;
    opacity: 1;
    transform: scale(1);
    animation: elastic-modal .5s;
    box-shadow: 0 0 0 120vmax rgba(0, 0, 0, 0.3);
    transition: 0.3s all;

}

section article:nth-of-type(even) {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    width: 80%;
    background: var(--light);
    margin: 0 auto;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    z-index: 11;
    transform: scale(0);
}

section article:nth-of-type(even) figure {
    margin: 0;
    padding: 1em;
}

section article:nth-of-type(even) img {
    width: 100%;
}

section article:nth-of-type(even) h1 {
    padding-top: 1em;
    margin: 0;
    font-size: 1em;
}

section article:nth-of-type(even) p {
    font-size: 0.8em;
    padding: 0;
}

section article:nth-of-type(even) footer {
    font-size: .8em;
    color: var(--dark-grey);
    font-style: italic;
}

section article:nth-of-type(even) footer a:hover {
    background-color: var(--complement-dark);
    color: white;
    transition: 0.3s all ease-out;
}

[href="#"] {
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    color: white;
    right: -32px;
}

[href="#"]:before {
	content: '';
	position: absolute;
	top: -10px; right: -10px;
	bottom: -10px; left: -10px;
}

[href="#"]:focus, [href="#"]:hover {
    animation: turning 1s infinite alternate ease-in-out;
    color: var(--complement-light);
}

@keyframes turning {
    from {
        transform: rotate(-15deg);
    }

    to {
        transform: rotate(15deg);
    }
}

@media (min-width: 33em) {
    section article:nth-of-type(even) {
        max-width: 25em;
    }

}


/* R A T I N G  */

fieldset { 
    text-align: center;
    border: none;
    margin-top: 1em;
    border-top: 1px solid var(--main);
}

fieldset label {
    display: inline-block;
    text-align: center;
    font-size: 0;
    padding: .5rem;
}

[type="radio"] {
    position: absolute;
    opacity: 0;
}

fieldset input + label svg {
    border: 0px solid var(--focus-color);
    border-radius: 100%;
    transition: var(--def-transition);
}

fieldset input:focus + label svg, fieldset input:hover + label svg {
    opacity: 1;
    transform: scale(1.2);
}

fieldset svg {
    height: 2rem;
    opacity: .5;
}

legend {
    padding: 0 1em;
}

[type="radio"]:checked + label svg {
    opacity: 1;
    transform: scale(1.1);
    animation: buzz .6s infinite alternate ease-out;
}

@keyframes buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }

/* maybe has to be outside of main? */
section:last-of-type:focus-within,
section:last-of-type:focus,
section:last-of-type:active {
    background-color: var(--main);
    height: auto;
    width: auto;
    overflow: visible;
}

@media (min-width: 33em) {
    main {
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 1fr;
        grid-auto-flow: dense;
        grid-gap: 10px;
        min-height: 200vh; */
    }

    
    section:last-of-type {
        /* grid-column: 1 / 3;
        grid-row: 2; */
        background-color: var(--light);
        display: flex;
        flex-wrap: wrap;
    }
    
    section article:nth-of-type(odd) {
        margin: 5%;
        width: calc(80%/2);
    }
    
    section article img {
        width: 100%;
    }

    header[role="banner"] h1 {
        margin: 0;
    }

    header[role="banner"] {
        /* grid-column: 1 / 3;
        grid-row: 1; */
        /* background-image: url("../images/bee-motif.png") */
    }

    body > nav li a {
        font-size: 0.9em;
    }

    aside {
        /* grid-column: 2 / 3;
        grid-row: 4; */
    }

    footer[role="contentinfo"] {
        /* grid-column: 1 / 3;
        grid-row: 4; */
    }
}

@media (min-width: 45em) { 
    body {

    }

    section article:nth-of-type(odd) {
        margin: 2.5%;
        width: calc(85%/3);
    }

    section article:nth-of-type(odd) {
        width: calc(100%/4);
    }
}

@media only screen and (min-width: 60em) {
    body {
       
    }
    section article:nth-of-type(odd) {
        margin: 2.5%;
        width: calc(80%/4);
    }

 } 

 @media only screen and (min-width: 75em) {
    main {
        /* display: grid;
        grid-template-columns: 1fr 1fr 25%;
        grid-template-rows: auto auto 1fr;
        grid-auto-flow: dense;
        grid-gap: 10px;
        min-height: 200vh; */
        transform: translateZ(0);
    }

    section:first-of-type {
        /* grid-column: 1 / 3;
        grid-row: 2; */
        display: flex;
        flex-wrap: wrap;
    }
    
    section article:nth-of-type(odd) {
        margin: 2.5%;
        width: calc(80%/4);
    }
    
    section article img {
        width: 100%;
    }

    header[role="banner"] h1 {
        margin: 0;
    }

    header[role="banner"] {
        /* grid-column: 1 / 3;
        grid-row: 1; */
    }

    aside {
        /* grid-column: 3 / 4;
        grid-row: 2; */
    }

   footer[role="contentinfo"] {
        /* grid-column: 3 / 4;
        grid-row: 3; */
    }

 } 